[Desktop Entry]
Name=ePorezi
Exec=/usr/bin/ePorezi gui %u
Icon=/usr/share/icons/ePorezi.png
Type=Application
Terminal=false
MimeType=x-scheme-handler/eporezi;
